@model IEnumerable<Zooe.Team10.Exhibit>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Exhibits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <title>Title</title>
    <style>
        #header {
            background-color: black;
        }
    </style>
</head>

<body id="exhibit-body">

    <main id="main">
        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>Exhibits</h3>
                </header>

                <div class="row about-cols">
                    @foreach (var item in Model)
                    {
                        <div class="exhibit-col-md-4 cold-md-4 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="exhibit-col about-col" style="width:320px;height:600px">
                                <div class="exhibit-img">
                                    <img style="width:320px;height:320px" src="@Html.DisplayFor(modelItem =>item.ImageUrl)" alt="@Html.DisplayFor(modelItem => item.Name)" class="img-fluid thumbnail zoom">
                                </div>
                                <h2 class="title">@Html.DisplayFor(modeItem => item.Name)</h2>
                                <p class="exhibit-p">
                                    @Html.DisplayFor(modeItem => item.Description)
                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                    {
                                        <div>
                                            <p>
                                                <a asp-action="Edit" asp-route-id="@item.ExhibitId">Edit</a>
                                                <a asp-action="Details" asp-route-id="@item.ExhibitId">Details</a>
                                                <a asp-action="Delete" asp-route-id="@item.ExhibitId">Delete</a>
                                            </p>
                                        </div>
                                    }
                                </div>
                        </div>
                    }

                    @*
                        <div class="col-md-4 wow fadeInUp">
                            <div class="about-col">
                                <div class="img">
                                    <img src="Content/img/welcome.png" alt="" class="img-fluid">
                                </div>
                                <h2 class="title">@Html.ActionLink("Exhibits", "Index", "Home", new {@style = "text-decoration:none;"})</h2>
                                <p>
                                    With over 40 filled exhibits, theres something for everyone here!
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="about-col">
                                <div class="img">
                                    <img src="Content/img/store.png" style="height:218px;width:350px" alt="" class="img-fluid">
                                </div>
                                <h2 class="title">@Html.ActionLink("Shop", "ShopIndex", "Shop", new {@style = "text-decoration:none;"})</h2>
                                <p>
                                    Take a memory home in the form of commemorative photos or plushes.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="about-col">
                                <div class="img">
                                    <img src="Content/img/events.jpg" style="height:218px;width:350px" alt=" " class=" img-fluid">
                                </div>
                                <h2 class="title">@Html.ActionLink("Events", "Index", "Home", new {@style = "text-decoration:none;"})</h2>
                                <p>
                                    Special tickets for special events!
                                </p>
                            </div>
                        </div>
                    *@

                </div>
        </section><!-- End About Us Section -->
    </main>

    @*
        <div>
            <table class="table">
                <thead>
                <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image_URL)
                </th>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image_URL)
                        </td>
                    </tr>
                }
                </thead>
                <tbody>
            </table>

        </div>*@
</body>
</html>

